table {
  background-color: rgb(255, 255, 255);
  width: 60%s;
  padding: 2rem;
  border-collapse: collapse;
  margin: auto;
  text-align: left;
  border-spacing: 50px;
}

.container {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 20px;
}

.icon {
  height: 15px;
}

.icon:hover {
  cursor: pointer;
}

tr {
  padding: 2rem;
}

th {
  text-align: left;
  font-size: 1.3rem;
  padding-right: 1rem;
  border-bottom: 1px solid rgb(109, 115, 151);
}
