.table{
    background-color:  rgb(255, 249, 234);
    width: 100%;
    padding: 1rem;
    border-radius: 20px;
    border-collapse: collapse;
}

.container{
    background-color: rgb(255, 249, 234);
    padding: 1rem;
}

.done{
background-color: green;
}

.notDone{
    background-color: red;
}

.firstRow{

}
