.button {
  width: 100px;
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  box-shadow: 0 0 0 2px #ffffff20;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  outline: none;
}

.button:focus {
  scale: 0.95;
  outline: none;
}

.button:hover {
  outline: none;
  opacity: 1;
  box-shadow: 0 0 0 5px #f3f3f360;
  color: #ffffff;
}

.done {
  color: white;
  background-color: rgb(229, 190, 253);
  box-shadow: 0px 6px 0px #bc78c8;
    transition: 0.4s;
}

.notDone {
  color: #475a83;
  background-color: rgb(190, 215, 253);
  box-shadow: 0px 6px 0px #7d78c8;
  transition: 0.4s;
}

.row{
    border-bottom: 1px dotted black;

}

td{
padding: 1rem;
padding-left: 0;
text-align: left;
}
